

/* NEW STYLES FOR NEW SHEET STYLE */

.loot-sheet-npc .window-header .header-button {
	background: none;
}

.loot-sheet-npc.sheet.actor.npc .sheet-header input {
	background: none;
	color: inherit;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .ability-score > img, .loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .ability-score > img {
    filter: invert(1);
}

.loot-sheet-npc input.currency {
	color: inherit;
}

.loot-sheet-npc .sheet-body {
	margin-top: -50px;
}

.loot-sheet-npc .sidebar {
	margin-top: 50px;
}

.loot-sheet-npc .middle input {
	color: inherit;
}

.loot-sheet-npc.sheet.actor.npc .sheet-body .main-content .inventory-element .bottom .encumbrance {
	border: none;
    box-shadow: none;
}