

/* NEW STYLES FOR NEW SHEET STYLE */

.loot-sheet-npc .window-header .header-button {
	background: none;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .ability-score > img, .loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .ability-score > img {
    filter: invert(1);
}

.loot-sheet-npc input.currency {
	color: inherit;
}

.loot-sheet-npc .sheet-body {
	margin-top: -50px;
}

.loot-sheet-npc .sidebar {
	margin-top: 50px;
}

.loot-sheet-npc .middle input {
	color: inherit;
}

.loot-sheet-npc.sheet.actor.npc .sheet-body .main-content .inventory-element .bottom .encumbrance {
	border: none;
    box-shadow: none;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .window-content::before, 
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .window-content::before {
	background: none;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .window-content > form::before, 
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .window-content > form::before {
	content: "";
    position: absolute;
    inset: 0 0 auto 0;
    height: 300px;
    border-radius: 5px 5px 0 0;
    opacity: 0.2;
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .window-content > form.type-Merchant::before, 
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .window-content > form.type-Merchant::before {
	background: url(../images/bg-merchant.jpg) no-repeat bottom center / cover;
}

:is(.dnd5e-theme-dark, .theme-dark) .loot-sheet-npc.sheet.actor.npc .window-content > form.type-Loot::before, 
.loot-sheet-npc.sheet.actor.npc.dnd5e-theme-dark .window-content > form.type-Loot::before {
	background: url(../images/bg-loot.jpg) no-repeat bottom center / cover;
}

/* .loot-sheet-npc .mode-slider, */
.loot-sheet-npc .header-elements,
.loot-sheet-npc .preparation-warnings {
	display: none !important;
}

.loot-sheet-npc.sheet.actor.npc .sheet-header .right,
.loot-sheet-npc.sheet.actor.npc .sheet-header .left {
	z-index: 2;
}

.loot-sheet-npc.sheet.actor.npc .sheet-header input {
	background: rgba(0, 0, 0, 0.45);
}

.loot-sheet-npc .tab-body {
	z-index: 3;
}

.loot-sheet-npc label.slide-toggle {
	float: right;
}

.loot-sheet-npc .flexrow {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.loot-sheet-npc .pills-group {
	margin-bottom: 1rem;
}

.loot-sheet-npc .permissions-list {
	margin: 0;
    padding-left: 1rem;
	list-style: none;
}

.loot-sheet-npc li.permission {
	text-indent: -0.5rem;
}

.loot-sheet-npc button.update-inventory {
	color: inherit;
}

.loot-sheet-npc .currency.false,
.loot-sheet-npc .middle.false,
.loot-sheet-npc .tab.biography.active.false {
	margin-left: 196px;
}

.loot-sheet-npc .tab.inventory.active.false {
	padding-left: 0 !important;
}

.loot-sheet-npc .item-buy,
.loot-sheet-npc .item-buyall,
.loot-sheet-npc .item-loot,
.loot-sheet-npc .item-lootall {
	color: var(--color-text-light-6) !important;
}